<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>500 - Internal server error</title>
</head>
<body>
    <h1>Sorry, we failed you!</h1>
    <h2><a href="/">Go back to the Homepage</a></h2>
    <%- include('partials/footer.ejs') %>
</body>
</html>