<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/add-contact.css">
    <title>Add a Contact</title>
</head>
<body>
    <form action="/add_contact" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="phonenumber">Phone:</label>
        <input type="tel" name="phonenumber" id="phonenumber">
        <br>
        <label for="address">Address: </label>
        <input type="text" name="address" id="address">
        <br>
        <label for="birthdate">Birthday: </label>
        <input type="date" name="birthdate" id="birthdate">
        <br>
        <input type="submit" value="Add Contact">
    </form>
</body>
</html>