<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/index.css">
    <title>Homepage</title>
</head>
<body>
    <h1>This is the <em>Homepage</em></h1>
    <a href="/view_customers">View Customers</a>
</body>
</html>